@charset "utf-8";
/* CSS Document   id = #   class = . */
*{
	margin: 					0								;
	padding: 					0								;
	box-sizing: 				border-box 						;
}
body{
	background-color: 		    #abf 				           ;
    color:                      #000                          ;
    font-family:                Arial, Helvetica, sans-serif    ;
    font-size:                  20px                            ;
}
.separa{
    padding: 				    10vh 0 0 0					    ;
}
/* ------------------------    seccion newsletter ------------------------  */
#newsletter{
	background-color: 			#edf7f666									;
}

/* ------------------------    seccion sec04 ------------------------  */
#sec04{
	background-color: 			#edf7f666								;
	display: 					flex 									;
    justify-content: 			center 									; /* centra el formulario */
	text-align: 				center 									; /* centra el texto */
}
#sec04 .formulario {
    background-color:			transparent								;
    padding: 					30px 									;
    width: 						900px 									;
    border-radius: 				10px									;
    box-shadow: 				0 10px 25px rgba(0,0,0,0.2)			;
}
#sec04 .formulario h2 {
    margin-bottom: 				20px									;
    color: 						#000									;
}
#sec04 .formulario input {
    width: 						700px									;
    padding: 					12px									;
    margin-bottom: 				15px									;
    border: 					1px solid #ccc							;
    border-radius: 				5px										;
}
#sec04 .formulario button {
	background-color: 			#198754 								;
    color: 						#ffffff 								;
    width: 						100px									;
    padding: 					12px 									;
    border: 					none 									;
    border-radius: 				5px 									;
    font-weight: 				bold 									;
}
#sec04 .formulario button:hover {
    background-color: 			#146c43 								;
}